[Desktop Entry]
Name=SecureFX
Comment=SecureFX provides file transfer using SFTP, FTPSSL and FTP.
Exec=SecureFX
Icon=com.vandyke.Bundle.SecureFX
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;