[Desktop Entry]
Name=COSBrowser
Exec=cosbrowser-launcher.sh %U
Terminal=false
Type=Application
Icon=com.tencent.COSBrowser
StartupWMClass=cosbrowser
X-AppImage-Version=2.8.3
Comment=COSBrowser - Tencent Cloud COS Client
Categories=Utility;
