[Desktop Entry]
Categories=Chat;Network;
Comment=DingTalk
Exec=dingtalk-launcher.sh %u
GenericName=dingtalk
Icon=com.alibabainc.DingTalk
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;
Name=DingTalk
Name[zh_CN]=钉钉
Type=Application
X-Deepin-Vendor=user-custom